<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <title>Bienvenido!</title>
</head>
<body>
<h1 th:inline="text">Hola <span sec:authentication="username"></span>!</h1>
<form th:action="@{/firma}" method="get">
    <tr><td>Firmar un certificado</td><input type="submit" value="firmar"/></tr>
</form>
<form th:action="@{/firma}" method="post" enctype="multipart/form-data" action="/">
    <table>
        <tr><td>Subir un certificado</td><td><input type="file" name="file" /></td></tr>
        <tr><td></td><td><input type="submit" value="Subir" /></td></tr>
    </table>
</form>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
</body>
</html>